API_PORT=5001
SUPABASE_URL=https://zmknyjfbnghjlioftzgv.supabase.co
SUPABASE_ANON_KEY=sb_publishable_k_Y2XC03En9DTw4rMekTzQ_lon_KIDS
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_k_Y2XC03En9DTw4rMekTzQ_lon_KIDS
SUPABASE_BUCKET_FACULTY_PHOTOS=facultyphotos
SUPABASE_BUCKET_FACULTY_CV=facultycv
JWT_SECRET=superman
ADMIN_SIGNUP_CODE=123456
